* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    line-height: 1.6;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.card-projeto {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.card-projeto a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #222;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 10px;
}

.botao {
    display: inline-block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 768px) {

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    body {
        font-size: 16px;
    }

}

a{
    color:#0066cc;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}